# TELEGRAM BOT
BOT_TOKEN="your bot token"
CHAT_ID="your chat id"
CHAT_LINK="your chat link"
ADMINS="admin id [integer]"

# DATABASE
DB_NAME="example.sqlite3"

# PAYMENT
PAYMENT_TOKEN="your kassa payment token"
